/out/
/.vs/
/QmlWindowEmbedToDesktop/.vs/
/QmlWindowEmbedToDesktop/out/
/Release/
/Debug/
/QmlWindowEmbedToDesktop/Release/
/QmlWindowEmbedToDesktop/Debug/
/x64/Debug/
/x64/Deploy/
/x64/Release/
/x64/
/QmlWindowEmbedToDesktop/x64/